{% extends 'home/base.html' %}
{% load static i18n %}

{% block title %}
    <title>dns</title>
{% endblock %}

{% block custom_content_right %}

    <div class="container-fluid">
{#        <h4 class="page-header">DNS管理后台 <small>ctc.local</small></h4>#}

        <div>
            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#add_single_record">添加解析</button>
            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">从文件导入</button>
            <button id="batch-edit-btn">批量编辑</button>
            <button id="batch-save-btn">批量保存</button>
            <button id="rndc">客户端同步</button>
        </div>

        <div style="color: red;" id="error_logs">

        </div>

        <div class="modal fade" id="add_single_record" tabindex="-1" role="dialog" aria-labelledby="header_new_record">
          <div class="modal-dialog" role="document">
            <div class="modal-content" style="width: 600px; overflow: auto;">
              <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="header_new_record">新增解析</h4>
              </div>
              <div class="modal-body">
                  <div style="height: 200px;">
                      <form  id="RecordForm" class="form-group" method="post" action="">
                          {% csrf_token %}
                          <p><label>主机名:</label>{{ record_form_obj.host }}</p>
                          <p><label>域&nbsp;&nbsp;&nbsp;&nbsp;名:</label>{{ record_form_obj.zone }}</p>
                          <p><label>类&nbsp;&nbsp;&nbsp;&nbsp;型:</label>{{ record_form_obj.type }}</p>
                          <p><label>记录值:</label>{{ record_form_obj.value }}</p>
                          <p><label>优先级:</label><input type="text" name="mx_priority" value=5></p>
                      </form>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" id="cancel" class="btn btn-primary" data-dismiss="modal">取消</button>
                <button type="button" id="add_record" class="btn btn-primary" data-dismiss="modal">添加</button>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">请选择文件</h4>
                  <a href="{% static 'dns/files/records.xls' %}" download="records.xls">下载模板</a>
                  <div>
                       <img style="height: 200px; width: 550px" src="{% static 'dns/images/dns.png' %}">
                  </div>
              </div>
              <div class="modal-body">
                <input  id="input" type="file" name="files[]" multiple accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
                <output id="output" style="overflow: auto"></output>
              </div>
              <div class="modal-footer">
                <button type="button" id="upload" disabled="disabled" class="btn btn-primary" onclick="submit()">导入</button>
                <button type="button" id="conform" class="btn btn-default" data-dismiss="modal">确定</button>
              </div>
            </div>
          </div>
        </div>

        <div>
            <table id="mytable" class="table table-striped table-bordered">

            </table>
        </div>

    </div>  <!-- continer -->
{% endblock %}

{% block custom_js %}
    <script src="{% static 'bootstrap/js/shim.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/xlsx.full.min.js' %}"></script>
    <script type="text/javascript" charset="utf-8">
        // 初始化datatable
        var table = $('#mytable').DataTable({
            "ajax": {
                "url": "/dns/api/records/",
                //"dataSrc": "", // 三种类型 '' 'data' 'staff'
                "dataSrc": "",
                "type": "get",
                "error": function () {
                    alert("服务器未正常响应，请重试");
                }
            },
            // 若获取的数据是数组（列表）类型，使用 索引下标 来指定要显示的字段
            // 若是object      （字典）类型，使用  key   来指定要显示的字段
            "columns": [
                {"data": "id", "title": "序号",  "searchable": false },
                {"data": "host", "title": "主机记录",},
                {"data": "domain", "title": "域名"},
                {"data": "type", "title": "记录类型"},
                {"data": "value", "title": "记录值"},
                {"data": "priority", "title": "优先级"},
                {
                    "data": null,
                    "title": "操作",
                    "defaultContent": "<button class='edit-btn' type='button'>编辑</button> <button class='delete-btn'><span class='glyphicon-class glyphicon glyphicon-trash'></span></button>"
                }
            ],

            "columnDefs": [
                // 自定义列
                {
                    "targets": [2],   // 目标列位置，下标从0开始
                    "data": "domain", // 数据列名
                    "render": function(data) { // 返回自定义内容
                        var domain_list = {
                            '1': 'ctyun.com',
                            '2': 'ctyun.org',
                            '3': 'ctyun.cn',
                        };
                        {#return "<select name=id>+" +#}
                        {#    "<option value=0>ctyun.com</option>"+#}
                        {#    "<option value=1>ctyun.org</option>"+#}
                        {#    "<option value=2>ctyun.cn</option>"+#}
                        {#    "<option value=3>ctyun.cc</option>"+#}
                        {#    "</select>";#}
                        return domain_list[data];
                    }
                },
                {
                    "targets": [3],   // 目标列位置，下标从0开始
                    "data": "type", // 数据列名
                    "render": function(data) { // 返回自定义内容
                        var type_list = {
                            '0': 'A',
                            '1': 'CNAME',
                            '2': 'MX',
                            '3': 'NS',
                            '4': 'AAAA',
                            '5': 'URL显性',
                            '6': 'URL隐性',
                            '7': 'SRV记录',
                        };
                        return type_list[data];
                    }
                },

            ],

            "language": {
                "sProcessing": "处理中...",
                "sLengthMenu": "显示 _MENU_ 项结果",
                "sZeroRecords": "没有匹配结果",
                "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                "sInfoPostFix": "",
                "sSearch": "搜索:",
                "sUrl": "",
                "sEmptyTable": "表中数据为空",
                "sLoadingRecords": "载入中...",
                "sInfoThousands": ",",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "上页",
                    "sNext": "下页",
                    "sLast": "末页"
                },
                "oAria": {
                    "sSortAscending": ": 以升序排列此列",
                    "sSortDescending": ": 以降序排列此列"
                }
            }
        }); //end datatable

        $('#mytable tbody').on("click", ".edit-btn", function () {
            var tds=$(this).parent().parent().children();
            $.each(tds, function(i,val){
                var jqob=$(val);
                if(i < 1 || jqob.has('button').length ){return true;}//跳过第1项 序号,按钮
                var txt=jqob.text();
                var put=$("<input type='text'>");
                put.val(txt);
                jqob.html(put);
            });
            $(this).html("保存");
            $(this).toggleClass("edit-btn");
            $(this).toggleClass("save-btn");
        }); // end edit

        $("#mytable tbody").on("click",".save-btn",function(){
            var row=table.row($(this).parents("tr"));
            var tds=$(this).parents("tr").children();
            $.each(tds, function(i,val){
                var jqob=$(val);
                //把input变为字符串
                if(!jqob.has('button').length){
                    var txt=jqob.children("input").val();
                    jqob.html(txt);
                    table.cell(jqob).data(txt);//修改DataTables对象的数据
                }
            });
            var data=row.data();
            console.log(data);
            $.ajax({
                "url":"/dns/api/records/",
                "data":data,
                "type":"post",
                "error":function(){
                    alert("服务器未正常响应，请重试");
                    console.log(data,'提交失败!');
                },
                "success":function(response){
                    if(response == 'ok'){
                        console.log(data,'更新成功!',response);
                        table.ajax.reload();
                    }else{
                        alert('更新失败!');
                        console.log(data,'更新失败!',response);
                    }
                }
            });
            $(this).html("编辑");
            $(this).toggleClass("edit-btn");
            $(this).toggleClass("save-btn");
        });

        $("#mytable tbody").on("click",".delete-btn",function(){
            // 从数据库中删除当前行
            var row=table.row($(this).parents("tr"));
            var data=row.data();
            $.ajax({
                "url": "/dns/api/records/",
                "data": data,
                "type": "post",
                "error": function() {
                    alert("服务器未正常响应，请重试");
                    console.log(data, '删除失败!');
                },
                "success": function(response){
                    if (response == 'ok'){
                        console.log(data, '删除成功!');
                        //row.remove().draw();
                        // 从datatable对象中删除该对象(也会同时删除html文档)
                        if(confirm("确定要删除该条记录吗？")){
                            row.remove().draw();
                        };
                    }else {
                        alert(response);
                        console.log(data, '删除失败!');
                    }
                }
            });
        });


    </script>

{% endblock %}