{% extends 'home/base.html' %}
{% load static i18n %}

{% block title %}
    <title>dns</title>
{% endblock %}

{% block custom_content_right %}

    <div class="container-fluid">
{#        <h4 class="page-header">DNS管理后台 <small>ctc.local</small></h4>#}

        <div>
            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#add_single_record">添加解析</button>
            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">从文件导入</button>
            <button id="batch-edit-btn">批量编辑</button>
            <button id="batch-save-btn">批量保存</button>
            <button id="rndc">客户端同步</button>
        </div>

        <div style="color: red;" id="error_logs">

        </div>

        <div class="modal fade" id="add_single_record" tabindex="-1" role="dialog" aria-labelledby="header_new_record">
          <div class="modal-dialog" role="document">
            <div class="modal-content" style="width: 600px; overflow: auto;">
              <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="header_new_record">新增解析</h4>
              </div>
              <div class="modal-body">
                  <div style="height: 200px;">
                      <form  id="RecordForm" class="form-group" method="post" action="">
                          {% csrf_token %}
                          <p><label>主机名:</label>{{ record_form_obj.host }}</p>
                          <p><label>域&nbsp;&nbsp;&nbsp;&nbsp;名:</label>{{ record_form_obj.zone }}</p>
                          <p><label>类&nbsp;&nbsp;&nbsp;&nbsp;型:</label>{{ record_form_obj.type }}</p>
                          <p><label>记录值:</label>{{ record_form_obj.value }}</p>
                          <p><label>优先级:</label><input type="text" name="mx_priority" value=5></p>
                      </form>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" id="cancel" class="btn btn-primary" data-dismiss="modal">取消</button>
                <button type="button" id="add_record" class="btn btn-primary" data-dismiss="modal">添加</button>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">请选择文件</h4>
                  <a href="{% static 'dns/files/records.xls' %}" download="records.xls">下载模板</a>
                  <div>
                       <img style="height: 200px; width: 550px" src="{% static 'dns/images/dns.png' %}">
                  </div>
              </div>
              <div class="modal-body">
                <input  id="input" type="file" name="files[]" multiple accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
                <output id="output" style="overflow: auto"></output>
              </div>
              <div class="modal-footer">
                <button type="button" id="upload" disabled="disabled" class="btn btn-primary" onclick="submit()">导入</button>
                <button type="button" id="conform" class="btn btn-default" data-dismiss="modal">确定</button>
              </div>
            </div>
          </div>
        </div>

        <div>
            <table id="mytable" class="table table-striped table-bordered">

            </table>
        </div>

    </div>  <!-- continer -->
{% endblock %}

{% block custom_js %}
    <script src="{% static 'bootstrap/js/shim.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/xlsx.full.min.js' %}"></script>
    <script type="text/javascript" charset="utf-8">
        // 获取所有域名，拼接成字典形式
        var domain_dict = {};
        $.ajax({
            async:false,
            url: '/dns/api/domains/',
            type: "GET",
            dataType: "json",
            success: function(result){
                //console.log(result);
                for(var i in result){
                    domain_dict[result[i]['id']] = result[i]['name'];
                }
            },error:function(){
                alert('获取域名失败!')
            }
        });
        // console.log(domain_dict);

        // 获取所有类型，拼接成字典形式
        var type_dict = {};
        $.ajax({
            async:false,
            url: '/dns/api/types/',
            type: "GET",
            dataType: "json",
            success: function(result){
                //console.log(result);
                for(var i in result){
                    type_dict[result[i]['id']] = result[i]['name'];
                }
            },error:function(){
                alert('获取类型失败!')
            }
        });

        // 初始化datatable
        var table = $('#mytable').DataTable({
            "ajax": {
                "url": "/dns/api/records/",
                //"dataSrc": "", // 三种类型 '' 'data' 'staff'
                "dataSrc": "",
                "type": "get",
                "error": function () {
                    alert("服务器未正常响应，请重试");
                }
            },
            // 若获取的数据是数组（列表）类型，使用 索引下标 来指定要显示的字段
            // 若是object      （字典）类型，使用  key   来指定要显示的字段
            "columns": [
                {"data": "id", "title": "序号",  "searchable": false, "visible": true },
                {"data": "host", "title": "主机记录"},
                {"data": "domain", "title": "域名"},
                {"data": "type", "title": "记录类型"},
                {"data": "value", "title": "记录值"},
                {"data": "priority", "title": "优先级"},
                {
                    "data": null,
                    "title": "操作",
                    "defaultContent": "<button class='edit-btn' type='button'>编辑</button> <button class='delete-btn'><span class='glyphicon-class glyphicon glyphicon-trash'></span></button>"
                }
            ],

            "columnDefs": [
                // 自定义列 目标列的位置 targets 以 columns为准计算的下表，并非 html显示结果（因为隐藏了1列导致HTML显示与js datatable配置的列数不同）
                {   // 将  domain_id 转换成 domain_name 显示
                    "targets": [2],   // 目标列位置，下标从0开始
                    "data": "domain", // 数据列名
                    "render": function(data) { // 返回自定义内容
                        return domain_dict[data];
                    }
                },
                {   // 将 type_id 转换成 type__name
                    "targets": [3],   // 目标列位置，下标从0开始
                    "data": "type", // 数据列名
                    "render": function(data) { // 返回自定义内容
                        return type_dict[data];
                    }
                }
            ],

            "language": {
                "sProcessing": "处理中...",
                "sLengthMenu": "显示 _MENU_ 项结果",
                "sZeroRecords": "没有匹配结果",
                "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                "sInfoPostFix": "",
                "sSearch": "搜索:",
                "sUrl": "",
                "sEmptyTable": "表中数据为空",
                "sLoadingRecords": "载入中...",
                "sInfoThousands": ",",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "上页",
                    "sNext": "下页",
                    "sLast": "末页"
                },
                "oAria": {
                    "sSortAscending": ": 以升序排列此列",
                    "sSortDescending": ": 以降序排列此列"
                }
            }
        }); //end datatable

        // 点击编辑按钮，获取表格的值，然后将按钮状态变为 "保存"
        $('#mytable tbody').on("click", ".edit-btn", function () {
            var tds=$(this).parent().parent().children();
            $.each(tds, function(i,val){
                var jqob=$(val);
                if(i < 1 || jqob.has('button').length ){return true;};  //跳过第0列 序号 或 按钮

                if(i == 2){  // 第三项 doamin列 转换成下拉菜单
                    var value = jqob.text();
                    var html = "<select name='domain'>";
                    for(var key in domain_dict){
                        if(value == domain_dict[key]){
                            var tmp = "<option selected=selected value='" + key + "'>" + domain_dict[key] + "</option>";
                        }else{
                            var tmp = "<option value='" + key + "'>" + domain_dict[key] + "</option>";
                        }
                        html += tmp;
                    }
                    html =  html + "</selecte>";
                    jqob.html(html);
                }else if(i == 3){  // 第type 列 转换成下拉菜单
                    var value = jqob.text();
                    var html = "<select name='type'>";
                    for(var key in type_dict){
                        if(value == type_dict[key]){
                            var tmp = "<option selected=selected value='" + key + "'>" + type_dict[key] + "</option>";
                        }else{
                            var tmp = "<option value='" + key + "'>" + type_dict[key] + "</option>";
                        }
                        html += tmp;
                    }
                    html =  html + "</selecte>";
                    jqob.html(html);
                } else {
                    // 其他列转换成 input标签
                    var txt=jqob.text();
                    var put=$("<input type='text'>");
                    put.val(txt);
                    jqob.html(put);
                }
            });
            $(this).html("保存");
            $(this).toggleClass("edit-btn");
            $(this).toggleClass("save-btn");
        }); // end edit

        // 点击保存按钮，获取表格的值(原始数据格式)，然后提交到后台，再将按钮转换成 "编辑"
        $("#mytable tbody").on("click",".save-btn",function(){
            var row=table.row($(this).parents("tr"));
            var tds=$(this).parents("tr").children();
            $.each(tds, function(i,val){
                var jqob=$(val);
                // 获取输入框的值(select input)
                if(!jqob.has('button').length){
                    var txt=jqob.children().val();
                    jqob.html(txt);
                    table.cell(jqob).data(txt);//修改DataTables对象的数据
                }
            });
            var data=row.data();
            var id = data['id'];
            var url = "/dns/api/records/" + id + "/";
            console.log(data);
            console.log(url);
            delete data.id;
            $.ajax({
                "url": url,
                "data": data,
                "type": "put",
                "error":function(){
                    alert("服务器未正常响应，请重试");
                    console.log(data,'提交失败!');
                },
                "success":function(response){
                    console.log(response, '更新成功！');
                    table.ajax.reload();
                }
            });
            $(this).html("编辑");
            $(this).toggleClass("edit-btn");
            $(this).toggleClass("save-btn");
        });

        $("#mytable tbody").on("click",".delete-btn",function(){
            // 从数据库中删除当前行
            var row=table.row($(this).parents("tr"));
            var data=row.data();
            $.ajax({
                "url": "/dns/api/records/",
                "data": data,
                "type": "post",
                "error": function() {
                    alert("服务器未正常响应，请重试");
                    console.log(data, '删除失败!');
                },
                "success": function(response){
                    if (response == 'ok'){
                        console.log(data, '删除成功!');
                        //row.remove().draw();
                        // 从datatable对象中删除该对象(也会同时删除html文档)
                        if(confirm("确定要删除该条记录吗？")){
                            row.remove().draw();
                        };
                    }else {
                        alert(response);
                        console.log(data, '删除失败!');
                    }
                }
            });
        });


    </script>

{% endblock %}